div h2{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    width: 500px;
}
#Port-div {
    background-color: lightslategray;
    margin-left: 200px;
    margin-right: 200px;
    height: 400px;
}
.buttons {
    background-color: rgb(190, 244, 111);
}

#qualify {
    background-color: rgb(150, 146, 146);
    margin-left: 200px;
    margin-right: 200px;
}

#body-background{
    background-image: url(images/home-back.jpg);
}
#intro{
    text-align: center;
    text-decoration: solid;
    background-color: rgb(161, 231, 114);
    margin-left: 120px;
    margin-right: 120px;
}

#backColor{
    background-color: rgb(150, 146, 146);
    margin-left: 200px;
    margin-right: 200px;
}

#skill-head{
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 179, 112);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 1pc;
    padding-bottom: 1pc;
    
}

#skills{
    background-color: rgb(121, 144, 179);
    margin-left: 300px;
    margin-right: 300px;
    padding: 3pc;
}