div h2{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    width: 500px;
}
#Port-div {
    background-image: url(images/image1.jpg);
    margin-left: 200px;
    margin-right: 200px;
    height: 400px;
    padding: 1pc;
}

#Port-div1 {
    margin-left: 100px;
    margin-right: 100px;
    padding: 1pc;
    padding-top: 1pc;
    padding-bottom: 1pc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    color: rgb(103, 107, 108);
}

.buttons {
    background-color: rgb(190, 244, 111);
}

#qualify {
    background-image: url(images/qualify.jpg);
    margin-left: 200px;
    margin-right: 200px;
}

#body-background{
    background-image: url(images/home-back.jpg);
}
#intro{
    text-align: center;
    text-decoration: solid;
    background-color: rgb(133, 203, 217);
    margin-left: 130px;
    margin-right: 130px;
}

#backColor{
    background-image: url(images/room1.jpg);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-right: 200px;
}

#skill-head{
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/wall.jpg);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 1pc;
    padding-bottom: 1pc;
    
}

#skills{
    background-image: url(images/wall.jpg);
    margin-left: 300px;
    margin-right: 300px;
    padding: 3pc;
    
}